.checkout-form{
    background-color: white;
    width: 80%;
    margin: 100px auto;
    padding: 50px;
    border-radius: 12px;
    background: #f6f6f6;
    box-shadow:  20px 20px 60px #c7c7c7,
             -20px -20px 60px #bebebe;
}
.bold-font{
    font-weight: 700;
}